<main>
    <div class="container">
       <div class="show-page-container"> 
       <div class="post-detail-title-wrapper">
         <h1 class="post-detail-title"><%= @post.title %></h1>
        <ul>
            <li><%= link_to "Edit", edit_post_path(@post)%></li>
            <li><%= link_to "Delete", post_path(@post), data:{
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"}
            %></li>
        </ul>
        </div>
        <p><%= simple_format(@post.body) %></p>
        </div>

    </div>
</main>