<header>
<nav>    
    <h1 class="logo">Mindy</h1>
    <ul class="nav-list">
        <li><%=link_to "Home", root_path %></li>
        <li> <%= link_to "Create", new_post_path %></li>
    </ul>
    </nav>
</header>